<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coding学习社区</title>

    <script src="/js/jquery-3.4.1.min.js"></script>


    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/publish.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/community.js"></script>
    <script src="/js/moment.js"></script>
    <link rel="stylesheet" href="/css/editormd.preview.css" />
    <script src="/js/editormd.min.js"></script>
    <script src="/lib/marked.min.js"></script>
    <script src="/lib/prettify.min.js"></script>
</head>
<body>

<div th:replace="commons/nav::nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >


            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 th:text="${question.question.title}" style="margin-top: 15px"></h4>
                <span class="text-tip"  >作者：[[${question.user.name}]] | 阅读数：[[${question.question.viewCount}]] | 发布时间：[[${#dates.format(question.question.gmtCreate,'yyyy/MM/dd')}]] </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<!--                问题内容-->
<!--                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.question.description}"></div>-->
                <div id="markdown-view" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea style="display:none;" th:text="${question.question.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var testView = editormd.markdownToHTML("markdown-view", {
                        });
                    });
                </script>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 4px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding: 0">

                    <span th:each="tag:${question.question.tag.split(',')}">

                        <span class="label label-info" ><span class="glyphicon glyphicon-share-alt" th:text="${tag}"></span></span>
                    </span>

                    <span th:if="${session.user!=null && question.user.accountId==session.user.accountId}">
                        <a th:href="@{'/publish/'+${question.question.id}}"  class="community-menu"> <span class="glyphicon glyphicon-list" aria-hidden="true"></span>编辑</a>
                    </span>
                </div>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 4px">
            </div>


<!--            回复-->
            <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 30px 0 5px 0">
                <span th:text="${question.question.commentCount}"></span>个回复
            </h4>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  th:each="comment:${comments}">
                <div class="media" >
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded head-image" th:src="${comment.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body" >
                        <h4 class="media-heading">
                            <span th:text="${comment.user.name}"></span>
                        </h4>
                        <div th:text="${comment.comment.content}"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-comment icon " aria-hidden="true" th:data-id="${comment.comment.id}" onclick="collapseComments(this)" th:id="${comment.comment.id}" >&nbsp;[[${comment.comment.commentCount}]]</span>
                            <span class="pull-right">[[${#dates.format(comment.comment.gmtCreate,'yyyy/MM/dd')}]]</span>
                        </div>
<!--                        二级评论-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="${'comment-'+comment.comment.id}">
<!--                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  th:each="comment:${comments}">-->
<!--                                <div class="media" >-->
<!--                                    <div class="media-left">-->
<!--                                        <a href="#">-->
<!--                                            <img class="media-object img-rounded head-image" th:src="${comment.user.avatarUrl}">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="media-body" >-->
<!--                                        <h4 class="media-heading">-->
<!--                                            <span th:text="${comment.user.name}"></span>-->
<!--                                        </h4>-->
<!--                                        <div th:text="${comment.comment.content}"></div>-->
<!--                                        <div class="menu">-->
<!--                                            <span class="pull-right">[[${#dates.format(comment.comment.gmtCreate,'yyyy/MM/dd')}]]</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;margin: 10px 0">-->
<!--                            </div>-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                <div th:if="${session.user!=null}">
                                    <input type="text" class="form-control" placeholder="请评论...." th:id="${'input-'+comment.comment.id}">
                                    <button type="button" class="btn btn-success pull-right"  style="margin: 10px 0" onclick="comment(this)" th:data-id="${comment.comment.id}">评论</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>


<!--            回复框-->
<!--            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px">-->
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${session.user!=null}" id="comment_section">

                <div class="media" >
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded head-image" th:src="${session.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body" style="padding-top: 10px">
                        <h4 class="media-heading">
                            <span th:text="${session.user.name}"></span>
                        </h4>
                    </div>
                </div>

                 <input type="hidden" id="question_id" th:value="${question.question.id}">
                <textarea class="form-control" rows="7" style="margin: 10px 0" id="comment_content"></textarea>
                 <button type="button" class="btn btn-success" style="float: right;margin-bottom: 10px" onclick="post()">回复</button>
            </div>
        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle head-image" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h4>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>联系站长</h4>
                <div>
                    <img src="/images/timg.png" class="img-thumbnail">
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="question-relate">
                    <li th:each="relate:${relates}"  >
                        <a th:href="@{'/question/'+${relate.id}}" th:text="${relate.title}"></a>
                    </li>
                </ul>
            </div>


    </div>
</div>
</div>
</body>
</html>